body {
  margin: 0;
  padding: 0;
  background-image: url('/logo3.png'); /* путь к твоему фону */
  background-size: cover;                 /* заполняет экран, не растягивая */
  background-position: center center;     /* центрирует */
  background-repeat: no-repeat;           /* не повторяет */
  background-attachment: fixed;           /* остаётся на месте при скролле */
}

.card {
  border-radius: 16px;
}

#classChartsContainer {
  gap: 8px !important; /* уменьшает горизонтальный и вертикальный отступ между карточками */
  display: flex;
  flex-wrap: wrap;
}

h2[data-i18n="admin_panel_title"] {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.chart-content {
  transition: opacity 0.3s ease;
  opacity: 1;
  display: block;
}

.chart-content.collapsed {
  opacity: 0;
  display: none;
}



